<div class="row">
    <div class="form-group col-sm-12">
      <label>Ticket</label>
      <%= excavator.ticket.id %>
    </div>
    <div class="col-sm-6">
      <span>Company Name:</span>
      <label><%= excavator.company_name %></label>
    </div>
    <div class="form-group col-sm-6">
      <span>Address:</span>
      <label><%= excavator.address %></label>
    </div>
    <div class="form-group col-sm-6">
      <span>City:</span>
      <label><%= excavator.city %></label>
    </div>
    <div class="form-group col-sm-6">
      <span>State:</span>
      <label><%= excavator.state %></label>
    </div>
    <div class="form-group col-sm-6">
      <span>Zip:</span>
      <label><%= excavator.zip %></label>
    </div>
    <div class="form-group col-sm-6">
      <span>Crew on Site:</span>
      <label><%= excavator.crew_on_site %></label>
    </div>
</div>